<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HexNet Software Factory - My ASP.NET MVC Application</title>

   
</head>
<body>
    

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img src="content/images/SiteLogo.png" />
                </p>
            </div>
            <div class="float-right">

                <nav>
                    <ul id="menu" class="nav nav-tabs nav-tabs-justified">
                        <li><a href="#/" class="hidden-xs">Manage Customers</a></li>
                        <li><a href="#manageOrdersView" class="hidden-xs">Manage Orders</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
   

</body>
</html>
